@import "../main.scss";

/***** Index Page ****/

.home {
  display: flex;
  flex-direction: column;
}

.image_selfie {
  height: 250px;
  width: 250px;
  background-color: #3b3b3b;
  border-radius: 10px;

  img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.index-head {
  h1 {
    color: #3b3b3b;
  }
}

.index-body {
  p {
    font-size: 1em;
  }
}
