/*** Variables ***/

/* ==================
==== Colors ==========
=====================

- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
**/

$light-text: #041A25;
$dark-text: #FFFFFF;
$dark-background: #202C37;
$light-background: #FAFAFA;

/*===================
===== Breakpoints ==========
=====================
**/

$break-point-s: 576px;
$break-point-md: 782px;
$break-point-l: 992px;
$break-point-xl: 1024px;
$break-point-xxl: 1200px;



/* ==================
==== Fonts ==========
=====================
**/


%container {
  width: 90%;
  margin: 0 auto;
}

