

$break-point-s: 576px;
$break-point-md: 782px;
$break-point-l: 992px;
$break-point-xl: 1024px;
$break-point-xxl: 1200px;

%container {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: $break-point-md) {
    max-width: 600px;
  }
}