@import './main.scss';

.about-skills {
  @media screen and (min-width: $break-point-s) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.index-head {
  margin-bottom: 50px;
}

.resume {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fafafa;
  border: 1px solid #727272;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.35 ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  .icon {
    display: inline-block;
    color: #818181;
    margin-right: 10px;
  }

  h6 {
    display: inline-block;
    font-size: 0.6em;
    color: #444444;
    margin: 0;
  }

}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.article-head {
  margin-bottom: 40px;
  h2 {
    margin: 0;
  }
  p {
    font-size: 0.8em;
    margin: 0 0 20px 0;
  }
  .tag {
    color: rgb(39, 39, 43)
  }
}