@import "./main.scss";

/****** Writings ******/

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.article-head {
  margin-bottom: 40px;
  h2 {
    margin: 0;
  }
  p {
    font-size: 0.8em;
    margin: 0 0 20px 0;
  }
  .tag {
    color: rgb(39, 39, 43);
  }
}

/******** PROJECTS *********/
