@import './main.scss';



/***** Index Page ****/ 

.index-head {
  margin-bottom: 50px;

  h1 {
    color: #3b3b3b;
  }

}

.index-body {
  p {
    font-size: 1em;
  }
}





.title {
  h5 {
    margin: 0;
    color: #434343;
  }
  small {
    color: #434343;
  }
  p {
    font-size: 0.8em;
    color: black;
  }
}


.about-skills {
  @media screen and (min-width: $break-point-s) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}



.resume {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fafafa;
  border: 1px solid #727272;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.35 ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  .icon {
    display: inline-block;
    color: #818181;
    margin-right: 10px;
  }

  h6 {
    display: inline-block;
    font-size: 0.6em;
    color: #444444;
    margin: 0;
  }

}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.article-head {
  margin-bottom: 40px;
  h2 {
    margin: 0;
  }
  p {
    font-size: 0.8em;
    margin: 0 0 20px 0;
  }
  .tag {
    color: rgb(39, 39, 43)
  }
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 250px;
  padding: 20px 20px 40px 20px;
  // background-color: #fafafa;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  transition: all 0.35s ease-in-out;
  &:hover {
    border: 1px solid #a0a0a0;
  }
  h5 {
    color: whitesmoke;
  }
  p {
    font-size: 0.8em;
    line-height: 1.3;
    color: whitesmoke;
  }
  .tags{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    h6 {
      font-size: 0.6em;
      color: whitesmoke;
      text-transform: uppercase;
      letter-spacing: 1;
      margin: 0;
      margin-right: 6px;
      margin-bottom: 4px;
    }
  }
  .link {
    display: flex;
    margin-top: 5px;
    a {
      margin-right: 15px;
      font-size: 0.8em;
      color: white;
    }

  }
}