@import '../styles/main.scss';

.layout {
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  .container {
    @extend %container;
     min-height: 100vh;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: stretch;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 0;
  margin-bottom: 50px;
  width: 100%;
  @media screen and (min-width: $break-point-s) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  margin-bottom: 5px;
  img {
    margin: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
  @media screen and (min-width: $break-point-s) {
    justify-content: flex-end;
    margin-top: 0px;
  }
  @media screen and (min-width: $break-point-md) {
    justify-content: flex-end;
  }
}

.nav-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 0.8em;
  color: #444444;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
  transition: all 0.4s ease-out;
  @media screen and (min-width: $break-point-s) {
    margin-left: 20px;
  }
  &:hover {
    opacity: 0.7;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  h5 {
    margin: 0;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #444444;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
}

.nav-active {
  opacity: 0.7;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #444444;
    transform-origin: bottom right;
    // transition: transform 0.4s ease-out;
  }
}
.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #979797;
  margin-top: 50px;
  @media screen and (min-width: $break-point-s) {
    flex-direction: row;
    justify-content: space-between;
  }
  p {
    margin: 0;
    font-size: 0.8em;
  }
}

.social {
  margin: 0;
  display: flex;
  justify-content: space-between;
  order: -1;
  @media screen and (min-width: $break-point-s) {
    order: 2;
  }
  li {
    margin: 0;
    a{
      color: #444444;
      font-size: 0.8em;
    }
  }
}